*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-div{
    margin: 10px;
    padding: 10px;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title{
    color: red;
    font-weight: bolder;
    font-size: xx-large;
    margin-right: 50px;
}

#nav-options{
    margin-left: 10px;
}

#login-button{
    height: 30px;
    width: 80px;
    color: red;
    border-color: red;
    border-radius: 30px;
}

#sign-up-button{
    height: 30px;
    width: 80px;
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 30px;
}

#Foodie-image{
    height: 150px;
    width: 250px;
}